{% extends 'base.html' %}

{% block content %}
   <div class="container">
      {% for person in people %}
         <h3>{{ person.login }}</h1>
         {% if person.img %}
            <img src="{{ person.img.url }}">
         {% else %}
            <img src="/pictures/default.jpg">
         {% endif %}
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="radio" name="login" id="person{{ forloop.counter }}"  value="{{ person.login }}">
            <input type="submit" value="Vote">
         </form>
      {% endfor %}
   </div>
{% endblock %}



