body {
   font-family: 'Quicksand', sans-serif, Arial, Helvetica;
   font-size: 16px;
   padding: 0;
   margin: 0;
}

h1 {
   text-transform: uppercase;
   font-size: 45px;
   font-weight: 300;
   line-height: 60px;
   margin-bottom: 90px;
}


p {
   line-height: 1.7em;
}


div, p, span, input, button {
   box-sizing: border-box;
}


.container {
   margin: 0 10%;
   margin-bottom: 10%;
   background-color: white;
   border-radius: 9px;
   padding: 1% 5%;
   -webkit-box-shadow: 0px 0px 37px 7px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 37px 7px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 37px 7px rgba(0,0,0,0.75);
}

img {
   width: 260px;
   height: 260px;
}